.mainWrap section {
  max-width: 1140px;
  margin: auto;
  padding-bottom: 80px;
}

.mainWrap section > h2 {
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.eduWrap ul > li {
  position: relative;
  padding: 0px 20px 0px 60px;
  margin: 0px 0px 50px;
}
.eduWrap ul > li::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  bottom: 0px;
  border-left: 1px solid #08ffc8;
}
.eduWrap > ul > li .icon {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #08ffc8;
  background-color: #FFF7F7;
}
.eduWrap > ul > li .icon i{
    margin-top: 7px;
    font-size: 25px;
}
.eduWrap > ul > li .time {
  display: inline-block;
  padding: 1px 10px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: rgb(37, 37, 37);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.6px;
  opacity: 0.8;
}

.eduWrap > ul > li > h4 {
  margin: 7px 0px 10px;
  font-size: 21px;
  font-weight: 500;
  opacity: 0.8;
}
.eduWrap > ul > li > h4 span {
  position: relative;
  padding-left: 26px;
  font-size: 17px;
  font-weight: 600;
  opacity: 0.6;
}
.eduWrap > ul > li > p{
    font-size: 16px;
}
.eduWrap > ul > li > h4 span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  left: 7px;
  top: 9px;
  opacity: 0.8;
}
