.homepage {
  overflow: hidden;
  margin-top: 5%;
}

.mains {
  display: flex;
  height: 100vh;
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
}

.left {
  flex: 0 0 35%;
  position: relative;
  max-width: 600px;
  margin-left: 5%;
  /* background-color: rgb(17, 17, 17); */
}
.imgBox2 {
  max-width: 25vw;
}
.imgBox {
  height: 0;
  padding-top: 160%;
  margin: 0px 0px 0px 30px;
  background-image: url(../img/myPhoto2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 90%) 0px 0px 7px;
  position: relative;
  z-index: 1;
}

.right {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10% 0px 0;
  margin: 0 0 10%;
}

.right .textWrap {
  margin-bottom: 40px;
}
.right .textWrap h2 {
  font-size: 30px;
}
.right .textWrap h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.right .textWrap p {
  font-size: 17px;
  line-height: 1.6;
  padding: 0px 15% 0px 0px;
  max-width: 670px;
  word-break: keep-all;
}
.right section {
  margin-bottom: 40px;
}
.right section h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
.right section ul {
  display: flex;
  flex-wrap: wrap;
}

.right section ul li {
  width: 50%;
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #08FFC8;
}
.right section ul li span {
  font-weight: 400;
  opacity: 0.8;
  color: white;
}
.right .moreBtn {
  padding: 0px 40px;
  border-radius: 26px;
  background-color: #08FFC8;
  font-size: 15px;
  font-weight: 500;
  color: black;
  line-height: 46px;
  letter-spacing: 0.5px;
}
